#top-button {
    position: fixed;
    bottom: max(2vmax, 20px);
    right: max(2vmax, 20px);
    z-index: 2;
    background: url("../pic/logo.png") no-repeat center center;
    background-size: contain;
    width: max(6vmax, 50px);
    height: max(6vmax, 50px);
    border: none;
    cursor: pointer;
}
