#welcome-box {
    position: relative;
    margin-top: 13vh;
    background-color: rgba(111, 202, 255, 0.7);
    border-radius: 15px;
    box-shadow: 0 0 20px 10px rgba(111, 202, 255, 1);
    padding: max(3vw, 50px) max(2vw, 30px);
    text-align: center;
    color: rgb(0, 0, 0);
    width: min(80vw, 800px);
    min-height: 60vh;
    height: auto;
}
